[submodule "Tests/AblyLiveObjectsTests/ably-common"]
	path = Tests/AblyLiveObjectsTests/ably-common
	url = https://github.com/ably/ably-common
[submodule "ably-cocoa"]
	path = ably-cocoa
	url = git@github.com:ably/ably-cocoa.git
