## Swift Package Manager

# Start of .gitignore created by Swift Package Manager
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# End of .gitignore created by Swift Package Manager

## Xcode

# This is created when running `xcodebuild`:
build/

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
Pods/

## Carthage
#
# 2.x has no Carthage support, but a checkout from the 1.x tooling may still be
# lying around locally; keep ignoring it so it is neither committed nor linted.
Carthage/

## Scan
test_output/

## Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/README.md
derived_data/


## AppCode
.build
.idea

## Generated Documentation
Docs/jazzy
Docs/markdown-api-reference

## Tooling
xcparse/
