## Swift Package Manager

# Start of .gitignore created by Swift Package Manager
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# End of .gitignore created by Swift Package Manager

## Xcode

# This is created when running `xcodebuild`:
build/

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
Pods/


## Scan
test_output/

## Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/README.md
derived_data/

Examples/Tests/Podfile.lock

## AppCode
.build
.idea

## Jazzy Docs
Docs/jazzy

## Tooling
xcparse/
