language: objective-c
osx_image: xcode9.2
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
matrix:
  include:
    - env: NAME="ably-iOS" LANE=test_iOS11
    - env: NAME="ably-iOS" LANE=test_iOS10
    - env: NAME="ably-iOS" LANE=test_iOS9
before_install:
  - gem install cocoapods -v '1.4.0'
install:
  - brew update
  - brew upgrade carthage
  # CocoaPods
  - pod install
  # Carthage
  - carthage bootstrap
  # Update fastlane
  - gem install fastlane -v '2.80.0'
before_script:
  - xcrun simctl erase all
script:
  - fastlane $LANE
after_success:
  - sleep 5

branches:
  only:
  - develop
