language: objective-c
osx_image: xcode8.2
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
before_install:
  # Force bundler 1.12.5 because version 1.13 has issues, see https://github.com/fastlane/fastlane/issues/6065#issuecomment-246044617
  - gem uninstall bundler -v '>1.12.5' --force || echo "bundler >1.12.5 is not installed"
  - gem install bundler -v 1.12.5 --no-rdoc --no-ri --no-document --quiet
install:
  # Install Scan
  # Automatically switches to the travis formatter when running on Travis
  - gem install scan -v 0.11.3
  - gem uninstall xcpretty -aIx
  - gem install xcpretty -v 0.2.2
  # Remove old versions of CocoaPods
  - gem uninstall cocoapods -aIx
  # Install CocoaPods
  - gem install cocoapods -v '1.0.1' --no-rdoc --no-ri --no-document --quiet
  - pod install
  # List of schemes
  - xcodebuild -workspace ./Ably.xcworkspace -list
script:
  # Run tests
  # Use `travis_wait` when a long running command or compile step regularly takes longer than 10 minutes without producing any output.
  # It writes a short line to the build log every minute for 20 minutes, extending the amount of time your command has to finish.
  # Prefix `travis_wait` with a greater number to extend the wait time.
  - travis_wait 30 scan --scheme "Ably" --open_report false
  - bash ./Scripts/run_examples_tests.sh
