language: objective-c
osx_image: xcode9.2
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
before_install:
install:
  - brew update
  - brew upgrade carthage
  # CocoaPods
  - pod install
  # Carthage
  - carthage bootstrap
script:
  # Run tests
  # Use `travis_wait` when a long running command or compile step regularly takes longer than 10 minutes without producing any output.
  # It writes a short line to the build log every minute for 20 minutes, extending the amount of time your command has to finish.
  # Prefix `travis_wait` with a greater number to extend the wait time.
  - xcrun simctl erase all
  - fastlane scan

after_success:
  - sleep 5
