language: objective-c
osx_image: xcode7.2
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
before_install:
  # Show available SDKs
  - xcodebuild -showsdks
  # Show available simulators
  - xcrun simctl list devices
install:
  # Install Scan
  # Automatically switches to the travis formatter when running on Travis
  - gem install scan
  # Install CocoaPods
  - gem install cocoapods -v '0.39.0' --no-rdoc --no-ri --no-document --quiet
  - pod install
script:
  # Run tests
  - xcodebuild -workspace './Ably.xcworkspace' -scheme 'Ably' -destination 'platform=iOS Simulator,OS=9.2,name=iPhone 4s' clean test