language: objective-c
osx_image: xcode7.2
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
install:
  # Install Scan
  # Automatically switches to the travis formatter when running on Travis
  - gem install scan
  # Install CocoaPods
  - gem install cocoapods -v '0.39.0' --no-rdoc --no-ri --no-document --quiet
  - pod install
  # List of schemes
  - xcodebuild -workspace ./Ably.xcworkspace -list
script:
  # Run tests
  # Use `travis_wait` when a long running command or compile step regularly takes longer than 10 minutes without producing any output.
  # It writes a short line to the build log every minute for 20 minutes, extending the amount of time your command has to finish.
  # Prefix `travis_wait` with a greater number to extend the wait time.
  - travis_wait 30 scan --scheme "Ably" --open_report false
