language: objective-c
osx_image: xcode11.6
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
matrix:
  include:
    - env: NAME="ably-iOS" PLATFORM="iOS" LANE=test_iOS13
    - env: NAME="ably-iOS" PLATFORM="iOS" LANE=test_iOS12
    - env: NAME="ably-tvOS" PLATFORM="tvOS" LANE=test_tvOS13
    - env: NAME="ably-macOS" PLATFORM="macOS" LANE=test_macOS
install:
  # Carthage
  - carthage update --platform $PLATFORM --cache-builds
  - bundle install
before_script:
  - xcrun simctl erase all
  - instruments -s devices
script:
  - export ABLY_ENV="sandbox"
  - fastlane $LANE
  - bash ./Scripts/run_examples_tests.sh
after_success:
  - sleep 5
cache:
  directories:
  - Carthage
