github "ably-forks/SocketRocket" == 0.5.2-ably-7
github "ably/delta-codec-cocoa" == 1.2.0
github "ably-forks/KSCrash" == 1.15.20-ably-6
github "rvi/msgpack-objective-C" == 0.3.1
github "whitesmith/ulid" == 1.1.0
github "soffes/SAMKeychain" == 1.5.3
