github "ably-forks/SocketRocket" == 0.5.2-ably-2
github "ably-forks/msgpack-objective-C" "mac-support"
github "ably-forks/KSCrash" "1.15.8-ably-2"
github "whitesmith/ulid" "master"
github "soffes/SAMKeychain" == 1.5.3
