# Start of .gitignore created by Swift Package Manager
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# End of .gitignore created by Swift Package Manager

/node_modules
/.mint

# User-created file that contains their Ably API key
/Example/AblyLiveObjectsExample/Secrets.swift

# Stuff that Cursor checks out to use locally (this is my naming, not any special Cursor thing)
/cursor-support
