name: Examples Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: macos-15

    env:
      LC_CTYPE: en_US.UTF-8
      LANG: en_US.UTF-8
      ABLY_ENV: sandbox

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        
      - name: Select Xcode (16.4)
        run: |
          sudo xcode-select -s /Applications/Xcode_16.4.app
          echo "Selected Xcode version:"
          xcodebuild -version

      - name: Environment Info
        run: ./Scripts/log-environment-information.sh

      - name: Reset Simulators
        run: xcrun simctl erase all

      - name: Install Dependencies
        run: |
          make submodules
          bundle install
          make update_carthage_dependencies_ios

      - name: Run Examples Tests
        working-directory: ./Examples/Tests
        run: |
          pod repo update
          pod install
          bundle exec fastlane scan -s Tests --output-directory "fastlane/test_output/examples/test_iOS26_2"

      - name: Carthage Installation
        working-directory: ./Examples/AblyCarthage
        run:  |
          echo 'Installing Carthage dependencies...'
          carthage update --use-xcframeworks --platform iOS --no-use-binaries
          echo 'Building AblyCarthage example...'
          xcodebuild build -scheme "AblyCarthage" -destination "platform=iOS Simulator,name=iPhone 16" -configuration "Debug"
      
      - name: SPM Installation
        working-directory: ./
        run:  |
          echo 'Current Branch: ' $GITHUB_HEAD_REF
          echo 'Current Revision (SHA):' $GITHUB_SHA
          echo Current Path: $(pwd)
          export PACKAGE_URL=file://$(pwd)
          export PACKAGE_BRANCH_NAME=$GITHUB_HEAD_REF
          export PACKAGE_REVISION=$GITHUB_SHA
          swift test --package-path Examples/SPM -v

      - name: Build APNS Example
        working-directory: ./Examples/AblyPush
        run: |
          xcodebuild build -scheme "AblyPushExample" -destination "platform=iOS Simulator,name=iPhone 16" -configuration "Debug"
