name: "Integration Test: iOS 14.4"

on:
  pull_request:
  push:
    branches:
      - main

# IMPORTANT NOTES:
# - Changes made to this file needs to replicated across other integration-test-*.yaml files.
# - The Fastlane lane name is duplicated in more than one place within this workflow.

jobs:
  check-1:
    runs-on: macos-10.15

    env:
      LC_CTYPE: en_US.UTF-8
      LANG: en_US.UTF-8
      ABLY_ENV: sandbox

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies and Run Tests Continuously
        env:
          TEST_OBSERVABILITY_SERVER_AUTH_KEY: ${{ secrets.TEST_OBSERVABILITY_SERVER_AUTH_KEY }}
        run: |
          brew install xcbeautify
          make submodules
          bundle install
          make update_carthage_dependencies_ios
          Scripts/continuously-run-tests-and-upload-results.sh --lane test_iOS14_4

  check-2:
    runs-on: macos-10.15

    if: ${{ always() }}
    needs: check-1

    env:
      LC_CTYPE: en_US.UTF-8
      LANG: en_US.UTF-8
      ABLY_ENV: sandbox

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies and Run Tests Continuously
        env:
          TEST_OBSERVABILITY_SERVER_AUTH_KEY: ${{ secrets.TEST_OBSERVABILITY_SERVER_AUTH_KEY }}
        run: |
          brew install xcbeautify
          make submodules
          bundle install
          make update_carthage_dependencies_ios
          Scripts/continuously-run-tests-and-upload-results.sh --lane test_iOS14_4

  check-3:
    runs-on: macos-10.15

    if: ${{ always() }}
    needs: check-2

    env:
      LC_CTYPE: en_US.UTF-8
      LANG: en_US.UTF-8
      ABLY_ENV: sandbox

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies and Run Tests Continuously
        env:
          TEST_OBSERVABILITY_SERVER_AUTH_KEY: ${{ secrets.TEST_OBSERVABILITY_SERVER_AUTH_KEY }}
        run: |
          brew install xcbeautify
          make submodules
          bundle install
          make update_carthage_dependencies_ios
          Scripts/continuously-run-tests-and-upload-results.sh --lane test_iOS14_4

  check-4:
    runs-on: macos-10.15

    if: ${{ always() }}
    needs: check-3

    env:
      LC_CTYPE: en_US.UTF-8
      LANG: en_US.UTF-8
      ABLY_ENV: sandbox

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies and Run Tests Continuously
        env:
          TEST_OBSERVABILITY_SERVER_AUTH_KEY: ${{ secrets.TEST_OBSERVABILITY_SERVER_AUTH_KEY }}
        run: |
          brew install xcbeautify
          make submodules
          bundle install
          make update_carthage_dependencies_ios
          Scripts/continuously-run-tests-and-upload-results.sh --lane test_iOS14_4
