name: "Integration Test: macOS 10.15"

on:
  pull_request:
  push:
    branches:
      - main

# IMPORTANT NOTES:
# - Changes made to this file needs to replicated across other integration-test-*.yaml files.
# - The Fastlane lane name is duplicated in more than one place within this workflow.

jobs:
  check:
    runs-on: macos-10.15

    env:
      LC_CTYPE: en_US.UTF-8
      LANG: en_US.UTF-8
      ABLY_ENV: sandbox

    steps:
      - uses: actions/checkout@v2

      - name: Reset Simulators
        run: xcrun simctl erase all

      - name: Install Dependencies and Run Tests
        run: |
          make submodules
          bundle install
          make update_carthage_dependencies
          bundle exec fastlane test_macOS

      - name: Check Static Analyzer Output
        id: analyzer-output
        run: |
          if [[ -z $(find ./derived_data -name "report-*.html") ]]; then
            echo "Static Analyzer found no issues."
          else
            echo "Static Analyzer found some issues. HTML report will be available in Artifacts section. Failing build."
            exit 1
          fi
      
      - name: Static Analyzer Reports Uploading
        if: ${{ failure() && steps.analyzer-output.outcome == 'failure' }}
        uses: actions/upload-artifact@v2
        with:
          name: static-analyzer-reports-test_macOS
          path: ./derived_data/**/report-*.html

      # This is the script specified as the pod’s prepare_command in its Podspec.
      # It would be run automatically for a normal CocoaPods install, but it doesn’t
      # get run when the dependency is specified with the :path option. So we run it
      # manually.
      - name: Prepare Pod
        run: Scripts/prepare-pod.sh

      - name: Run Examples Tests
        working-directory: ./Examples/Tests
        run: |
          pod repo update
          pod install
          bundle exec fastlane scan -s Tests --output-directory "fastlane/test_output/examples/test_macOS" 
      
      - name: Xcodebuild Logs Artifact
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: xcodebuild-logs
          path: ~/Library/Developer/Xcode/DerivedData/*/Logs

      - name: Fastlane Output Artifact
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: fastlane-output
          path: fastlane/test_output
      
      - name: Swift Package Manager - Installation Test
        working-directory: ./
        run:  |
          echo 'Current Branch: ' $GITHUB_HEAD_REF
          echo 'Current Revision (SHA):' $GITHUB_SHA
          echo Current Path: $(pwd)
          export PACKAGE_URL=file://$(pwd)
          export PACKAGE_BRANCH_NAME=$GITHUB_HEAD_REF
          export PACKAGE_REVISION=$GITHUB_SHA
          swift test --package-path Examples/SPM -v
