name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  editorconfig:
    name: EditorConfig
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up editorconfig-checker
        uses: editorconfig-checker/action-editorconfig-checker@main

      - name: Run editorconfig-checker
        run: editorconfig-checker
